@use "../../styles/buttons";

form {
    input, button {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        border-radius: 5px;
        border: none;
    }
    input[type=text] {
        padding: 15px 20px;
        font-size: 22px;
        color: blue;
    }
    input[type="datetime-local"] {
        padding: 10px 15px;
    }
    input:focus {
        outline: none;
    }
    button {
        @include buttons.button("primary");
    }
}