* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    width: 100%;
    min-height: 100vh;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        flex-basis: 60%;
        padding: 20px;
        background-color: #2196f3;
        text-align: center;
    }
    img {
        width: 400px;
        height: auto;
        margin: 20px 0;
    }
    h1 {
        text-align: center;
        font-size: 30px;
        color: white;
        margin-bottom: 15px;
    }
}
